<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>포트원(PortOne) 결제 테스트</title>
    <!--포트원 js-->
    <script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
</head>
<body>
<h2>포트원 결제 테스트</h2>

<label for="productName">상품명:</label>
<input type="text" id="productName" placeholder="상품명 입력" required><br>

<label for="amount">결제 금액 (KRW):</label>
<input type="number" id="amount" placeholder="금액 입력" required><br>

<button onclick="requestPay()">결제하기</button>

<script>
    IMP.init("imp88076876");

    function requestPay() {
        IMP.request_pay({
          pg: "kakaopay",
          pay_method: "card",
          amount: "60000",
          name: "매운 라면",
          merchant_uid: "order_" + Date.now()
        }


        );
    }
</script>
</body>
</html>
